*{
    font-family: 'Work Sans';
    margin: 0;
}
.header{
    width: 1920px;
    height: 1322px; 
    background: rgba(255, 144, 14, 0.1);

}
/*navigation bar*/
.header-title{
    display: flex;
    justify-content: space-between;
}
.header-name{
    font-size: 45px;
    padding-top: 50px;
    padding-left: 228px;
}
nav ul{
    display: flex;
    padding-top: 63px;
    padding-right: 240px;

}
nav li{
    list-style: none;
    padding: 0 5px;
}
nav li a{
    text-decoration: none;
    font-size: 18px;
    color: #424242;
    padding: 20px;
}
/*header main part*/
.header-main{
    padding-top: 142px;
    text-align: center;
}
.h-one{
    font-size: 64px;
}
.p-one{
    font-size: 16px;
    color: #727272;
}
.btn{
    margin-top: 42px;
    width: 180px;
    height: 64px;
    border:0;
    color: white;
    background-color: orange;
    border-radius: 5px;
    font-size: 20px;
}
.header-image{
    padding-top: 50px;
    padding-left: 240px;
    padding-right: 240px;
}
/*first section*/
.section-one-class{
    display: flex;
    padding-top: 85px;
    gap:73px;
}
.teams{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 10px;
    row-gap: 24px;
    padding-left: 301px;

}
.team{
    width: 342px;
    height: 342px;
}
.teams-info{
    padding-top:214px;

}
.team-header{
    font-size: 45px;
}
.offwhite{
    color: #727272;
}
.yellow{
    color: orange;
}
/*second section*/
.section-two-class{
    display: flex;
    gap:20px;
    padding-top: 130px;
    padding-left: 240px;
    padding-right: 240px;
}
.class-1 h2{
    font-size: 45px

}
.box-classes{
    display: grid;
    grid-template-columns: repeat(1,1fr);
}
.classes h4{
    font-size: 20px;
}
.classes{
    width: 586px;
    height: 171px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}
.classes-info{
    padding: 30px 30px 30px 30px;
}
.button{
    padding-left: 880px;
}

.bigger-button{
    color: white;
    background-color: orange;
    border: 0px;
    width: 200px;
    height: 100px;
    font-size: 30px;
    position: relative;
    left: 800px;
}
.third-section-class-1{
    padding-left: 240px;
    font-size:45px ;
    padding-bottom: 24px;
}
.third-section-class-1 h4{
    padding-bottom: 10px;
}
.third-section-boxes{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 124px;
    padding-left: 290px;
    padding-bottom: 100px;
    padding-top: 100px;
}
.boxes{
    width: 241.83px;
    height: 241.83px;
    border: 1px solid #FF900E;
    border-radius: 8px;

}
.boxes-info{
    padding: 45px 36px 59px 35px;
}
.footer-title{
    text-align: center;
    padding-left: 400px;
}

.footer-title h4{
    font-size: 45px;
    padding-bottom: 10px;
}
.sponsors{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    column-gap: 155.24px;
    padding-top: 49px;
    padding-left: 240px;
    padding-right: 240px;
}
.footer-end{
    width: 1000px;
    height: 80px;
    background-color: rgb(235, 194, 194);
    position: relative;
    left: 440px;
    top:100px;
}
.p-two{
    text-align: center;
    padding-top: 39px;
}