*{
    font-family: 'Work Sans';
    margin: 0;
}
.header{
    width: 1920px;
    height: 1322px; 
    background: rgba(255, 144, 14, 0.1);

}
/*navigation bar*/
.header-title{
    display: flex;
    justify-content: space-between;
}
.header-name{
    font-size: 45px;
    padding-top: 50px;
    padding-left: 228px;
}
nav ul{
    display: flex;
    padding-top: 63px;
    padding-right: 240px;

}
nav li{
    list-style: none;
    padding: 0 5px;
}
/*header main part*/
.header-main{
    padding-top: 142px;
    text-align: center;
}
.h-one{
    font-size: 64px;
}
.p-one{
    font-size: 16px;
    color: #727272;
}
.btn{
    margin-top: 42px;
    width: 180px;
    height: 64px;
    border:0;
    color: white;
    background-color: orange;
}
.header-image{
    padding-top: 50px;
    padding-left: 240px;
    padding-right: 240px;
}
/*first section*/
.section-one-class{
    display: flex;
    padding-top: 85px;
    gap:73px;
}
.teams{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    column-gap: 10px;
    row-gap: 24px;
    padding-left: 301px;

}
.team{
    width: 342px;
    height: 342px;
}
.teams-info{
    padding-top:214px;

}
.team-header{
    font-size: 45px;
}
.offwhite{
    color: #727272;
}
.yellow{
    color: orange;
}